<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Complice &mdash; focus on what's important" />
    <meta property="og:description" content="Make more progress on your goals." />
    <meta property="og:image" content="https://complice.co/img/product-overview-2.png" />
    <meta property="og:logo" content="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/complice_trans.png">

    <meta name='theme-color' content="#9600FF">
    <link rel="manifest" href="/manifest.json">
    <meta name='mobile-web-app-capable' content="yes">
    <meta name='apple-mobile-web-app-capable' content="yes">
    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' href="https://complicemail-herokuapp-com.global.ssl.fastly.net/css/sweetalert.css">
    <link href="https://complicemail-herokuapp-com.global.ssl.fastly.net/css/hotkeys.min.css" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/bootstrap/css/flat-ui.css">
    <link rel="icon" sizes="192x192" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/favicon-192x192.png">
    <link rel="icon" sizes="160x160" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/favicon-160x160.png">
    <link rel="icon" sizes="96x96" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/favicon-96x96.png">
    <link rel="icon" sizes="32x32" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/apple-touch-icon-152x152.png">
    <meta name='apple-mobile-web-app-title' content="Complice">
    <meta name='msapplication-TileColor' content="#9f00a7">
    <meta name='msapplication-TileImage' content="/mstile-144x144.png">
    <meta name='application-name' content="Complice">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/edocdpcgndegohhhonllogdaccoenaon">

    <link rel="stylesheet" href="https://complicemail-herokuapp-com.global.ssl.fastly.net/style.css">
    <link rel="stylesheet" media="all" id="usercss" href="/Fivapr/user.css?v=6">
    <title>Features of Complice</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51007115-2', 'complice.co');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

      var g = function (category, action, label) {
        ga('send', 'event', category, action, label);
      }
      //

    </script>
        <meta name='description' content="Complice helps people achieve their personal and professional goals, by making consistent progress every day.">
  </head>
  <body class='  '>
    <div class='allexceptfooter aef-static-navbar' >
  <div class='navbar navbar-inverse navbar-fixed-top navbar-small-text' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle="collapse" data-target=".navbar-collapse" style='padding: 18px;'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' rel="home" href="/?s">
          <img class='complice-logo' src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/complice_dark_trans.png">
          <span
          class='hidden-sm-inline'
          >Complice</span>
        </a>
      </div>
      <div class='navbar-collapse collapse'>
        <ul class='nav navbar-nav' >
          <li class=''><a href="/Fivapr/">Timeline</a></li>

          <li class='nav-today-link '><a href="/Fivapr/today">Today
            <span class='notdonesOnOtherPages'>
              (1)
            </span>
            <span id="navnotdone" class='ng-cloak'>
              {[{remainingcount ? ' (' + remainingcount + ')' : ''}]}
            </span>
          </a>

          <div class='click-on-today-arrow'>
            <span class='glyphicon glyphicon-arrow-up'></span>
          </div>

          </li>
          <li class=''><a href="/Fivapr/goals">Goals</a></li>
          <li class=''><a href="/Fivapr/reviews/">Reviews</a></li>
          <li class=''><a href="/rooms">Rooms</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
            <li id="partnerReq"
            style='display:none;'
            >
              <span><a class='btn btn-primary' style='margin-top:9px; padding: 5px; height: 32px;' href="/Fivapr/settings#partner" title='Click to view request'>
              <span class='glyphicon glyphicon-plus'></span>
              <span class='glyphicon glyphicon-user'></span>
              <span class='hidden-md-inline hidden-sm-inline hidden-xs-inline'>Partner request from</span>
              REQUESTFROMUSERNAME
              </a></span>
            </li>
                <li style='margin: 2px 8px;'><span><a class='btn btn-danger' style='margin-top:4px; padding: 3px; height: 41px; font-size: 12px; ' href="/Fivapr/settings#payment">
                  <span style='background: white; padding: 2px ; color: #d9534f; display: inline-block; border-radius:2px; text-shadow:none; float:left; margin-bottom: -4px;' id="daysRemaining">
                  &nbsp;<span id="daysRemaining-N">8</span>
                  day<span class='hide-if-one-8' id="daysRemaining-S">s</span>
                  <span class='hidden-sm-inline'> remaining</span>&nbsp;
                  </span><br>
                  <span style='display: inline-block; margin-top: 6px'><span class='hidden-sm-inline'>Upgrade </span><span class='glyphicon glyphicon-plus-sign'></span></span></a></span>
                </li>

                          <li class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle="dropdown">Fivapr <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><a href="/Fivapr/settings">Settings</a></li>
                <li><a href="/Fivapr/refer">Refer Friends</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
<div class='jumbotron' style='margin: -20px 0 0; background-image: linear-gradient(45deg,#9900aa,#7700ff); color: #fff; text-align:center; height: 160px; padding: 20px'>
  <div class='container'>
    <div class='row'>
      <h1 style='text-align:center'>Get to know Complice</h1>
    </div>
  </div>
</div>

<div class='content-section content-section-hued'>
  <div class='container'>
    <div class='row'>
      <p>Jump to feature...</p>
      <ul class='p'>
        <li><a style='color: #5500ff; text-decoration: underline' href="#intentions">Intentions</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#outcomes">Outcomes</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#dailies">Daily Habits</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#pomodoro">Pomodoro Timer</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#rooms">Coworking Rooms</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#partners">Accountability Partners</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#darktheme">Dark Theme</a></li>
        <li><a style='color: #5500ff; text-decoration: underline' href="#hotkeys">Hotkeys</a></li>
      </ul>
    </div>
  </div>
</div>


<div class='content-section'>
  <div class='container'>
    <div class='row'>
      <h1 id="intentions">Intentions</h1>
      <div class='col-md-4 col-sm-6 col-lg-6'>
        <p>If you're not intentional about how you spend your days, it's hard to get anywhere except by accident.</p>
        <p>The <strong>Intentions Format</strong> lets you quickly enter your intentions for the day, indicating which goal each task goes towards by starting that line with the number of the goal.</p>
        <p>For miscellaneous tasks, you use some other symbol, conventionally an ampersand (<code>&amp;</code>) or a tilde (<code>~</code>) but you can be creative and use symbols like <code>$</code> or <code>&#x266b;</code> or <code>&#x2665;</code> if those seem more appropriate.</p>
        <p>You can also indicate that a task goes towards multiple goals by separating their numbers by commas, e.g. <code>1,2) hike with Kate</code> might go toward both a fitness and a relationships goal.</p>
      </div>
      <div class='col-md-8 col-sm-6 col-lg-6'>
        <img class='img-responsive' src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/intentions_new_w.png" alt=''>
      </div>
    </div>
  </div>
</div>

<div class='content-section content-section-hued'>
  <div class='container'>
    <div class='row'>
      <h1 id="outcomes">Outcomes</h1>
      <div class='col-md-4 col-sm-6 col-lg-6'>
        <p>The <strong>Outcomes Format</strong> collects your day's tasks up by goal and guides you in reflecting on the progress you made.</p>
        <p>Tasks that were left incomplete get a minus (<code>&minus;</code>) in front of them, and extra tasks you completed (ones that you didn't intend to do) are indicated with a plus (<code>+</code>).</p>
        <p>Then, for each goal, in the colored bar you remark <code>enough</code> or <code>not enough</code> based on whether or not the progress you made today is enough to keep you on track to achieving your goal on time.</p>
        <p>Complice will use the enough/not values to show you at a glance which goals are on track. You can also write notes to yourself here (as seen in the example on the right).</p>
        <p>Other things to know:</p>
        <ul class='p'>
          <li>Other options that will get parsed as "enough" include <code>y</code>, <code>:)</code>, <code>win</code>, <code>victory</code> and <code>nailed it</code>.</li>
          <li>Other options that will get parsed as "not enough" include <code>n</code>, <code>:(</code>, <code>fail</code>, and <code>nope</code>.</li>
          <li>If that goal wasn't relevant that day, you can put <code>day off</code> or <code>holiday</code> or <code>rest day</code> or <code>recovery day</code> or <code>n/a</code>.</li>
          <li>On days when <code>not enough</code> is really <code>nothing</code>, you can put that. Or <code>NOTHING</code> if you want to be really serious about it.</li>
        </ul>
      </div>
      <div class='col-md-8 col-sm-6 col-lg-6'>
        <img class='img-responsive' src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/outcomes_new.png" alt=''>
      </div>
    </div>
  </div>
</div>


<div class='content-section'>
  <div class='container'>
    <div class='row'>
      <h1 id="dailies">Daily Defaults</h1>
      <div class='col-md-8 col-sm-6 col-lg-6'>
        <p>Have tasks you want to do every day? Or maybe just habits you want to track, like "get up before noon" or "drink at least 20 cups of water?" You can add these to your list of Daily Defaults by pressing the grey <span class='glyphicon glyphicon-pencil'></span> below the intentions box.</p>

        <p>In order to not swamp you with these items, they don't automatically get added to your list every day. Instead, during the intentions-setting phase, you get to push a button (<span class='glyphicon glyphicon-open'></span>) to add them, and then you can edit them if certain ones don't make sense that day.</p>
        <p>
          <img class='img-responsive' src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/dailies.png" style='box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)'>
        </p>
      </div>
      <div class='col-md-4 col-sm-6 col-lg-6'>
        <h4>Tips</h4>
        <p>You can put an extra <code>(</code> before the number, which is an informal way to make the daily intentions look less punchy and more remindery. It doesn’t get parsed as anything special at the moment, though it might!</p>

        <p>Some users also like using <code>~</code> for miscellaneous in dailies, instead of <code>&amp;</code>. It’s smaller and seems more like a structure than a specific thing I have to do. See the examples below.</p>

        <p>Include something about getting up on time. If you set your intentions the night before, add something like <code>(~) get up without snoozing my alarm</code>. Or, preventatively, <code>(~) turn off my computer at 11pm</code>.</p>

        <p>Want to practice a new style of working? Add something like <code>(~) use pomodoros</code> or <code>(~) no email before noon</code>.</p>

        <p>Super secret tip: include <code>[__]</code> in your intention and it’ll get highlighted in your outcomes to remind you to specify what you did more precisely. Use this for simple tracking, like <code>(2) email at least 3 leads: [<span class='highlight-cyan'>__</span>]</code> or <code>(7) do a workout: [<span class='highlight-cyan'>__</span>]</code>.</p>

        <p>Like the <code>(</code>, nothing special happens with these values, but again, maybe it will soon! (Like they could be graphed or sent to Beeminder or something)</p>
      </div>
    </div>
  </div>
</div>


<div class='content-section content-section-hued'>
  <div class='container'>
    <div class='row'>
      <h1 id="pomodoro">Pomodoro Timer</h1>
      <div class='col-md-4 col-sm-6 col-lg-6'>
        <img src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/pomodoro.png" style='float: right; margin-right: 20px;'>
        <p>Here's how it works: pick a task to work on.<br><strong class='score-box' style='background-color: #ea402f; color: white'>Work for 25 minutes</strong><br> If anything tries to interrupt you, don't let it. Write it down if it's a thing you need to do later. If you let something distract you, you have to reset the timer. <strong class='unwrap'>Focused work is important.</strong></p>
        <p>Then... <br><strong class='score-box' style='background-color: #9bcd50; color: white'>Take a break for 5 minutes</strong><br> Actually take a break! Even if you're right in the middle of something! Being in the middle means it's exciting to come back, unlike if you break when you're stuck, and then it's tough to come back.</p>
        <p>When the break timer ends, start another 25 minute work timer. Repeat. Every 4 or so, maybe, take a 20 minute break.</p>
      </div>
      <div class='col-md-4 col-sm-6 col-lg-6'>
        <p><strong>Features:</strong></p>
        <ul class='p'>
          <li><span class='glyphicon glyphicon-repeat'></span> continuous &amp; one-off mode</li>
          <li>custom work &amp; break lengths (easy to change)</li>
          <li>custom long-break frequency &amp; length</li>
          <li>optional ticking sound while the clock is running</li>
          <li>multiple ending sounds</li>
          <li>desktop notifications</li>
          <li>assign completed pomodoros to tasks</li>
          <li>share your clock with friends so they know when to message you (or can work together)</li>
        </ul>



        <div style='background-image: linear-gradient(45deg,#9900aa,#7700ff); padding: 6px 12px; max-width: 700px; margin: auto'>
          <div class='testimonial-box md-whiteframe-3dp'>
            <p>
              “This is the only thing I have found so far that keeps me even moderately productive in very unstructured work situations.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='content-section'>
  <div class='container'>
    <div class='row'>
      <h1 id="rooms">Coworking Rooms</h1>
      <div class='col-md-4 col-sm-6 col-lg-6 text-center'>

        <p><em>Be social and productive at the same time!</em></p>

        <a href="/room/open" style='display: block; overflow: auto'>
          <img src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/coworkingroom-promo-video.png" style='float: left; width: 100%'>
        </a>

        <br><br>
        <div>
          <a href="/rooms" class='btn btn-success'>Check out the rooms</a>
        </div>

      </div>
      <div class='col-md-8 col-sm-6 col-lg-6'>
        <p><strong>Features:</strong></p>
        <ul class='p'>
          <li><strong>Share what you're working on</strong> &amp; see what others are up to</li>
          <li><strong>Synchronized pomodoro clock</strong>: take breaks at the same time</li>
          <li><strong>Chat</strong>, for during the breaks (group chat + direct messaging)</li>
          <li><strong>Video</strong>, for presence (without audio, to reduce distraction)</li>
          <li><strong>Open to anyone</strong>, including non-Complice users</li>
          <li><strong>Create your own private room</strong> for your friends or your team</li>
        </ul>

        <div style='background-image: linear-gradient(45deg,#9900aa,#7700ff); padding: 6px 12px; max-width: 400px; width: 100%; margin: auto'>
          <div class='testimonial-box md-whiteframe-3dp'>
            <p>
              “Joining [this room] is probably the literal best thing that happened to me this decade. Thank you to the people who made this place exist.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='content-section content-section-hued'>
  <div class='container'>
    <div class='row'>
      <h1 id="partners">Accountability Partners</h1>
      <img src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/accpartner.png" style='float: right; max-width: 50%; width: 700px; box-shadow: 0 4px 4px rgba(10,0,20,0.6);'>
      <ul class='p'>
        <li><strong>What?</strong> Link your account with someone else's to gain accountability towards your goals.</li>
        <li><strong>How?</strong>
          <ul>
            <li>Get emails with your partner's activities</li>
            <li>See what your partner is working on while on your own today page</li>
          </ul>
        </li>
        <li><strong>When?</strong>
          <ul>
            <li>Continuously via the partner tab on your today page</li>
            <li>Daily email updates</li>
            <li>Periodically help your partner stay accountable towards their top priorities</li>
          </ul>
        </li>
        <li><strong>Who?</strong>
          <ul>
            <li>Use it to stay in touch with a friend</li>
            <li>or find a stranger who won't let you slack off</li>
          </ul>
        </li>
      </ul>

      <p>Research suggests that simply telling other people about your goals can make you less likely to work hard at them, perhaps because the mere act of telling them feels like progress. The Complice Accountability Partner system is different though, because you're not just telling them&mdash;you're making a specific plan, and they're overhearing. Also because <strong>your partner will see within a day if you're not doing what you intended</strong>, so you can't exactly rest on your laurels.</p>

      <div style='background-image: linear-gradient(45deg,#9900aa,#7700ff); padding: 6px 12px; max-width: 700px; margin: auto'>
        <div class='testimonial-box md-whiteframe-3dp'>
          <p>
            “My boyfriend introduced it to me and suggested that we use it to stay updated on each others' lives while we're doing the long distance thing.”
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class='content-section darktheme' style='background: black'>
  <div class='container'>
    <div class='row'>
      <h1 id="darktheme">Dark Theme</h1>
      <img src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/darktheme.png" style='float: right; max-width: 50%; width: 700px; box-shadow: 0 4px 4px rgba(10,0,20,0.6);' >


      <p style='color: #656381;'>Complice is made to be used throughout your day. But if it's late at night, you might not want to be staring at a bright white screen. Toggle darktheme (or have it automatically enable in the evening) to relax your eyes.</p>

      <img src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/ss/darktheme_settings.png"
       >
      <p class='help-block'>Access this setting by clicking the gear on the today page, then the View tab. Dark Theme currently only works on the today page.</p>
    </div>
  </div>
</div>

<div class='content-section' id="hotkeys">
  <div class='container'>
    <div class='row'>
      <h1>Hotkeys</h1>
      <div class='col-md-6 col-sm-6'>
        <h2>Basic today page hotkeys</h2>
        <table class='cfp-hotkeys'><tbody>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>?</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Show / hide this help menu</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>`</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Open settings dialog</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>⇥</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Rotate between tabs</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>n/m</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Switch to NextAction/Organize tab</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>i/o</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle intentions/outcomes submit box</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>0-9</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Enter a new intention for the goal with that number</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>alt +</span>
        <span class='cfp-hotkeys-key'>0-9</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Filter list by the goal with that number</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>space</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle done-ness of selected item (or next action)</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>u</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Mark most-recently-completed item as undone</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>c</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Select next action (top not-done item)</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>↑/↓</span>
        <span class='cfp-hotkeys-key'>k/j</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Select higher/lower</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>⇧+↑/↓</span>
        <span class='cfp-hotkeys-key'>K/J</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Move selected item up/down</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>t</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Timer: start/pause timer<br> <span style='font-size: 12px'>(note: <a href="https://complicemail-herokuapp-com.global.ssl.fastly.net/docs/pomodoro_cheat_sheet.pdf" target='_blank'>pomos are indivisible</a>, so you can't pause one halfway through)</span></td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>r</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Timer: cancel</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>y</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Timer: apply detected time</td></tr>
        </tbody></table>
      </div>
      <div class='col-md-6 col-sm-6' style='color: #606; background: #eee0ee; padding: 0 10px 20px; box-shadow: 0 1px 3px #959'>
        <h2>Advanced today page hotkeys</h2>
        <table class='cfp-hotkeys'><tbody>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>shift+c</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Move selected item so it's the current task</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>l</span>
        </td><td class='cfp-hotkeys-text ng-binding'><em>(lowercase L)</em> Select the last not-done task</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>L</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Move selected item so it's the last task</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>*</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle star on an item</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>%</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle nevermind on an item</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>#</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Seed the intentions input with a #) for each goal</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>p</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Assign a completed pomodoro to selected item</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>shift+p</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Unassign a pomodoro from an item</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>alt+p</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Destroy an unassigned pomodoro</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>alt+shift+p</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Undestroy an unassigned pomodoro</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>ctrl+shift+a</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Hide/show completed tasks</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>f</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle distraction free mode</td></tr>

        <tr class='darktheme' style='background: black; color: #cbc'><td class='cfp-hotkeys-keys'>
        <span class='cfp-hotkeys-key'>shift</span> +  <span class='cfp-hotkeys-key'>f</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Toggle dark theme</td></tr>

        <tr><td class='cfp-hotkeys-keys'>
              <span class='cfp-hotkeys-key'>g e</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Go to timeline page</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
              <span class='cfp-hotkeys-key'>g g</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Go to goals page</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
              <span class='cfp-hotkeys-key'>g r</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Go to reviews page</td></tr>
        <tr><td class='cfp-hotkeys-keys'>
              <span class='cfp-hotkeys-key'>g s</span>
        </td><td class='cfp-hotkeys-text ng-binding'>Go to settings page</td></tr>
        </tbody></table>
      </div>
      <div class='col-md-12 clearfix'>
        <p style='text-align: center; padding: 8px;'>
          <span class='unwrap'>In addition, if you hold <span class='cfp-hotkeys-key'>⇧ shift</span> when submitting intentions,</span> <span class='unwrap'>they'll be put as the next task(s), rather than at the bottom.</span>
        </p>
        <p style='text-align: center; padding: 8px;'>
          <span class='unwrap'>And if you hold <span class='cfp-hotkeys-key'>ctrl</span>+ <span class='cfp-hotkeys-key'>⇧ shift</span> when submitting intentions,</span> <span class='unwrap'>they'll be put <em>second</em> from the top, underneath the current next task.</span>
        </p>
      </div>
    </div>
  </div>
</div>



  </div>

  <div class='footer navbar navbar-default navbar-bottom'>
    <div class='container'>
      <div class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12'>
        <div class='navbar-header navbar-right'>
          <a class='navbar-brand' rel="home" href="/?s">
            <img class='complice-logo' src="https://complicemail-herokuapp-com.global.ssl.fastly.net/img/complice_trans.png">
          </a>
        </div>
          <ul class='nav navbar-nav'>
            <li class=''><a href="/about">About</a></li>
            <li class=''><a href="/faq">FAQ</a></li>
            <li class='active'><a href="/features">Features</a></li>
            <li class=''><a href="/newsletter">Newsletter</a></li>
            <li><a href="http://blog.complice.co">Blog</a></li>
          </ul>
      </div>
    </div>
  </div>


    <script src="/Fivapr/data.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script src="https://complicemail-herokuapp-com.global.ssl.fastly.net/js/lib/sweetalert.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/1.0.0/tinycolor.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://complicemail-herokuapp-com.global.ssl.fastly.net/js/lib/hotkeys.min.js"></script>
        <script src="https://complicemail-herokuapp-com.global.ssl.fastly.net/js/lib/moment.min.js"></script>
        <script src="/js/complicemon.js" type='text/javascript'></script>



        <script> var intercomSettings = {"name":"Fivapr","email":"270696@mail.ru","user_id":"Fivapr","app_id":"uie8xb07"}</script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uie8xb07';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


    <div class='checkpath-container-container'>
      <svg class='checkpath-container' pointer-events='none' xmlns='http://www.w3.org/2000/svg' version='1.1'>
        <path id="checkpath" class='ccdfl checkpath' d="M 50 0 L 60 10 L 20 50 L 0 30 L 10 20 L 20 30 Z"/>
      </svg>
    </div>
  </body>
</html>
