{% extends "base.html" %}
{% block content %}


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-colorpicker.js"></script>


    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Ya tut bezdelnichal nemnoshk</p>
        {% if not user.is_authenticated %} <p><a class="btn btn-primary btn-lg" href="register/" role="button">Sign up &raquo;</a></p>
        {% else %} <p><a class="btn btn-primary btn-lg" href="/goals/" role="button">Go to my goals &raquo;</a></p>
        {% endif %}
      </div>
    </div>



    <div id="cp5" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
<script>
    $(function() {
        $('#cp5').colorpicker({
            color: "transparent",
            format: "hex"
        });
    });
    $(function() {
        $('#cp5').colorpicker().on('changeColor', function(e) {
            $('div')[5].style.backgroundColor = e.color.toHex();
        });
    });
</script>

    <div id="cp4" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
<script>
    $(function() {
        $('#cp4').colorpicker({
            color: "transparent",
            format: "hex"
        });
    });
    $(function() {
        $('#cp4').colorpicker().on('changeColor', function(e) {
            $('div')[1].style.backgroundColor = e.color.toHex();
        });
    });
</script>

        <div id="cp2" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
<script>
    $(function() {
        $('#cp2').colorpicker({
            color: "transparent",
            format: "hex"
        });
    });
    $(function() {
        $('#cp2').colorpicker().on('changeColor', function(e) {
            $('body')[0].style.backgroundColor = e.color.toHex();
        });
    });
</script>






{% endblock %}