{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
Впрочем, всегда можно <a href="/logout/">выйти</a>.<br/><br/>
{% else %}

    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
      <div class="col-md-4">
      <form class="form-signin" method="post" action="">
          {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" placeholder="Login" class="form-control" name="username" value="" id="username" />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" placeholder="Password" class="form-control" name="password" value="" id="password" />
        <div>
          <label>
          </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
      </form>
      </div> <!-- /container -->
          </div>
        <div class="col-md-4">
        </div>
    </div><!-- /.row -->
    

{% endif %}
{% endblock %}